<!-- Botón para abrir/cerrar el menú -->
<div>
        <div class="imagen-movil">
                <img class="imagen" src="assets/avanza.png" alt="">
        </div>
        <div class="menu-button" (click)="toggleMenu()" (mouseleave)="handleMouseLeave()">
                &#9776; <!-- Botón del menú -->
        </div>


        <!-- Menú flotante -->
        <div class="floating-menu" [class.open]="isMenuOpen" (mouseenter)="keepMenuOpen()"
                (mouseleave)="handleMouseLeave()" (click)="handleContentClick($event)">
                <!-- Captura clics dentro del menú -->
                <img class="imagen" src="assets/avanza.png" alt="">
                <div class="icsn">
                        <a href="#" class="menu-item icono"><img class="facebook" src="assets/facebook.svg"
                                        alt="Facebook" height="32px"></a>
                        <a href="#" class="menu-item icono"><img class="linkedin" src="assets/linkedin.svg"
                                        alt="LinkedIn" height="32px"></a>
                        <a href="#" class="menu-item icono"><img class="youtube" src="assets/youtube.svg" alt="Youtube"
                                        height="32px"></a>
                        <a href="#" class="menu-item icono"><img class="whatsapp" src="assets/whastapp.svg"
                                        alt="Whatsapp" height="32px"></a>
                </div>
                <div class="menu-item-with-submenu">
                        <a class="menu-item titulo" (click)="scrollToSection('conocenos')" class="conoce">CONÓCENOS</a>
                       <!-- <ul class="submenu">
                                <li class="menu-item si" (click)="pagina()"><img src="assets/indice.svg" class="color"
                                                alt="" width="12px"><a href="#" class="srv colorfuente">NOSOTROS </a>
                                </li>
                                <li class="menu-item si"><img src="assets/indice.svg" class="color" alt=""
                                                width="12px"><a href="#" class="srv">NUESTRA MISIÓN Y VISIÓN</a></li>
                                <li class="menu-item si"><img src="assets/indice.svg" class="color" alt=""
                                                width="12px"><a href="#" class="srv">NUESTRO EQUIPO</a></li>
                        </ul>-->
                </div>
                <div class="menu-item-with-submenu">
                        <a class="menu-item titulo"class="conoce">NUESTROS SERVICIOS</a>
                        <ul class="submenu">
                                <li class="menu-item si" (click)="pagina()"><img src="assets/indice.svg" class="color"
                                                alt="" width="12px"><a href="#" class="srv colorfuente">CAPACITACIÓN
                                                EMPRESARIAL</a></li>
                                <li class="menu-item si"><img src="assets/indice.svg" class="color" alt=""
                                                width="12px"><a href="#" class="srv">CONSULTORÍA INTEGRAL</a></li>
                                <li class="menu-item si"><img src="assets/indice.svg" class="color" alt=""
                                                width="12px"><a href="#" class="srv">ASESORÍA EN DESARROLLO
                                                TECNOLÓGICO</a></li>
                                <li class="menu-item si"><img src="assets/indice.svg" class="color" alt=""
                                                width="12px"><a href="#" class="srv">ACOMPAÑAMIENTO FINANCIERO Y
                                                BANCARIO</a></li>
                                <li class="menu-item si"><img src="assets/indice.svg" class="color" alt=""
                                                width="12px"><a href="#" class="srv">NETWORKING EMPRESARIAL</a></li>
                        </ul>
                </div>

        </div>
</div>