.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover; /* La imagen cubrirá toda el área del div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  z-index: -1; /* Envía el div al fondo */
}

.estrado {
  z-index: -1; /* Envía el div al fondo */
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: center; /* Asegura que permanezca en la parte inferior */
  align-items: center; /* Centra horizontalmente */
}
.cnt {
  display: flex;
  justify-content: center; /* Asegura que permanezca en la parte inferior */
  align-items: center; /* Centra horizontalmente */
}

.titulo {
    position: relative;
    font-size: 5em !important; /* Fuerza la prioridad de este estilo */
    font-weight: bolder;
    color: #dd7b30; /* Opcional: establece un color para verificar que el estilo se aplica */
    top: -300px;
}

@media (max-width: 600px) {
  .cnt {
    display: block; /* Elimina el comportamiento flex de la clase .cnt */
  }

  .txdt{
    text-align: center;
  }
  .titulo {
    position: relative;
    top: -5px;
    font-size: 3em !important; /* Fuerza la prioridad de este estilo */
  }
  .estrado {
    z-index: -1; /* Envía el div al fondo */
    position: fixed;
    display: flex;
    bottom: 40px;
    justify-content: center; /* Asegura que permanezca en la parte inferior */
    align-items: center; /* Centra horizontalmente */
  }
  .imgestr {
    width: 70%; /* Disminuye el tamaño de la imagen */
    height: auto; /* Mantiene las proporciones */
  }
}
