<app-menunavegacion></app-menunavegacion>
<app-particle-animation></app-particle-animation>
<div class="container cnt">
    
    <div class="contenido">
        <div class="txdt">
            <span class="titulo">¿CUANDO LLAMARNOS?</span>
        </div>
        <div>
            <app-animacion></app-animacion>
        </div>
        <div>
            <div class="slider">
                <p 
                    [ngClass]="currentAnimation" 
                    (animationend)="onAnimationEnd()" 
                    [innerHTML]="itemSeleccionado" >
                    
                </p>
            </div>
        </div>
        <div class="estrado">
            <img class="imgestr"  src="assets/gradas3.png" alt="">
        </div>
    </div>

</div>