.container {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover; /* La imagen cubrirá toda el área del div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ajusta según tu diseño */
  width: 100%;
  height: 100%;
}

.txdt {
  margin-top: 20px;
  text-align: center;
}

.titulo {
  font-size: 5em;
  font-weight: bolder;
  color: #dd7b30;
  margin: 0;
}

.estrado {
  position: fixed;
  bottom: 0;
  width: 100%; /* Asegura que ocupe todo el ancho */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra el contenido */
  z-index: 1; /* Asegúrate de que sea visible */
}

.imgestr {
  width: 800px; /* Asegura que la imagen no exceda el ancho */
  height: 180px;
}

.slider{
  position: relative;
  width: 600px;
  font-size: 50px;
  z-index: 1000;
  bottom: 60px;
  color: #d62e60;
  text-align: center;
  /*border: 2px solid blue;*/
  text-shadow:  4px 7px 3px rgb(235 218 218);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(55 14 76);
}

@media (max-width: 600px) {
  .cnt {
    display: block; /* Elimina el comportamiento flex de la clase .cnt */
  }

  .txdt {
    text-align: center;
  }
  .titulo {
    position: relative;
    top: -5px;
    font-size: 3em !important; /* Fuerza la prioridad de este estilo */
  }
  .estrado {
    z-index: -1; /* Envía el div al fondo */
    position: fixed;
    display: flex;
    bottom: 70px;
    justify-content: center; /* Asegura que permanezca en la parte inferior */
    align-items: center; /* Centra horizontalmente */
  }
  .imgestr {
    width: 70%; /* Disminuye el tamaño de la imagen */
    height: auto; /* Mantiene las proporciones */
  }
 
  .slider {
    width: 350px;
    font-size: 2em;
    bottom: 90px;
  }

}
