<app-menunavegacion></app-menunavegacion>
<div class="container cnt">
    
    <div class="contenido">
        <div class="txdt">
            <span class="titulo">¿CUANDO LLAMARNOS?</span>
        </div>
        <div>
            <h1>fsdf</h1>
            <h1>fsdf</h1>
            <h1>fsdf</h1>
            <h1>fsdf</h1>
            <h1>fsdf</h1>
            <h1>fsdf</h1>
        </div>
        <div class="estrado">
            <img class="imgestr" src="assets/estrado.png" alt="">
        </div>
    </div>

</div>