<app-menunavegacion></app-menunavegacion>
<div class="contenedor">
  <div class="menui">
    <ul class="listaui">
      <li 
        class="lista" 
        *ngFor="let item of items; let i = index"
        [ngClass]="{'active': selectedItem === i}"
        (click)="selectItem(i)">
        {{ item }}
      </li>
    </ul> 
  </div>
  <div class="texto-mosaico">
    
    <span>{{elemento()}}</span>
    <span>{{elemento()}}</span>
    <span>{{elemento()}}</span>
    <span>{{elemento()}}</span>
  </div>
</div>




