<app-menunavegacion></app-menunavegacion>
<div class="ctn">
  <div #contenedor class="contenedor">
    <div class="menui">
      <ul class="listaui">
        <li class="lista" *ngFor="let item of items; let i = index" [ngClass]="{'active': selectedItem == i}"
          (click)="selectItem(item)">
          <b>{{ item }}</b>
        </li>
      </ul>
    </div>

    <!-- Contenedor para posicionar la sección -->
    <div style="position: relative;">
      <div class="carousel">
        <div class="carousel-item" *ngFor="let item of this.contenidoD(); let i = index"
          [ngClass]="{'focused': i === currentItem}" [style.transform]="getTransform(i)" [innerHTML]="item">

        </div>
      </div>
      <button class="prev" (click)="prev()">Anterior</button>
      <button class="next" (click)="next()">Siguiente</button>
    </div>
  </div>
</div>
