.contenedor{
  display: flex;
  flex-direction: row;
}
.contenido{
  margin-left: 260px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Configura los elementos en columna */
  align-items: flex-start; /* Alinea los elementos al inicio (izquierda) */
}

.lista {
  font-size: 45px;
  color: #dd7b30;
  margin: 30px;
  transition: transform 0.3s, color 0.3s; /* Animaciones suaves para transformaciones y color */
  transform-origin: left center; /* Escala desde la izquierda */
  display: inline-block; /* Se adapta al tamaño del texto */
  position: relative; /* Necesario para el pseudo-elemento */
  
}
.active{
  color: #e7442f;
  
  background-color: #e7c4bfc5; /* Color del subrayado */
  
}

.lista::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Coloca la línea ligeramente por debajo del texto */
  left: 0;
  width: 0; /* Inicialmente el subrayado es invisible */
  height: 3px; /* Grosor del subrayado */
  background-color: #641308; /* Color del subrayado */
  transition: width 1s; /* Transición suave para el subrayado */
}

.lista:hover {
  color: #e7442f; /* Cambia el color del texto al pasar el mouse */
  cursor: pointer;
  transform: scale(2); /* Agranda el elemento */
}

.lista:hover::after {
  width: 100%; /* Hace que el subrayado crezca al 100% del ancho del texto */
  
}
