<div class="carousel-container">
    
    <div class="slider-container">
        <div class="slider">
            <h1 
                [ngClass]="currentAnimation" 
                (animationend)="onAnimationEnd()">
                {{itemSeleccionado}}
            </h1>
        </div>
        <div class="dot-container">
            <button class="btn" *ngFor="let item of items; let ind=index" (click)="currentSlide(ind)">
                <span class="dot"></span>
            </button>
        </div>
    </div>
</div>